.cover {
    width: 200px;
    height: auto;
}

.crateContainer {
    text-align: center;
    padding: 20px;
    display: grid;
    gap: 50px;
    background-image: url("https://i.ibb.co/1RzzS62/tumblr-nhyd8smpx-M1qa0ub6o1-r1-500.jpg") ;
    padding: 10px;
}

ul {
    list-style: none
}

.crateBtn {
    padding-top: 15px;
}

.crateTitle {
    text-align: center;
    padding-bottom: 20px;
}

.crateList {
    background-color: rgba(255, 204, 127, 0.831);
	max-width: 9500px; 
    margin: 10px 450px;
	float: none !important; 
    padding-top: 20px;
    padding-bottom: 20px;
}