.recordFormParent {
    display: flex;
    justify-content: center;
    background-image: url("/Users/jaimiehart/workspace/client-capstone/wax/src/images/homeBackground.jpg");
    background-size: cover;
	max-width: 1000px; 
	margin: 0 auto !important; 
	float: none !important; 
    padding-top: 20px;
}

.genreLabel {
    padding-right: 10px;
}

.genreDrop {
    padding: 5px;
}

.radioLabel {
    padding-right: 10px;
}

.btn-add {
    padding: 10px 20px;
}

.addBtn {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

.recordForm__title {
    display: flex;
    justify-content: center;
}

.Record {
    background-image: url("/Users/jaimiehart/workspace/client-capstone/wax/src/images/istockphoto-503242322-612x612 copy.jpg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center top;
    display: flex;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 200px;
}

.cover {
    padding-bottom: 30px;
    padding-top: 10px;
}


