.recordFormParent {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 233, 111);
	max-width: 600px; 
	margin: 0 auto !important; 
	float: none !important; 
    padding-top: 30px;
}

.genreLabel {
    padding-right: 10px;
}

.btn-add {
    padding: 5px 10px;
}

.addBtn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.recordForm__title {
    display: flex;
    justify-content: center;
}