

  .release {
    background-image: url("/Users/jaimiehart/workspace/client-capstone/wax/src/images/istockphoto-503242322-612x612 copy.jpg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center top;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 220px;
    padding-bottom: 100px;

}

.cover {
    padding-bottom: 30px;
    padding-top: 10px;
}

.rec.rec-dot {
  background: #ff4343;
  border: 2px #333 solid;
  border-radius: 0;
}
.rec.rec-dot_active {
  background: #59fd59;
}