.cover {
    width: 200px;
    height: auto;
}

.collectionContainer {
    text-align: center;
    padding: 20px;
    display: grid;
    gap: 50px;
    background-image: url("https://pbs.twimg.com/media/DZJiUvvV4AMCwHM.jpg") ;
    padding: 10px;
}

ul {
    list-style: none
}

.collectionBtn {
    padding-top: 15px;
}

.collectionTitle {
    text-align: center;
    padding-bottom: 20px;
}

.collectionList {
    background-color: rgba(213, 59, 69, 0.845);
    max-width: 9500px; 
    margin: 10px 450px;
	float: none !important; 
    padding-top: 20px;
    padding-bottom: 20px;
}